* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-contents {
  width: 100%;
}
.sec2img {
  height: 20px;
}
.icone {
  width: 40px;
  margin-left: 10px;
}
.section-2-container {
  display: none;
}
.section1-container {
  display: none;
}
.section1-tablet {
  display: flex;
  flex-direction: column;
  
}

.section1-tablet-main {
  display: flex;
  gap: 700px;
  align-items: center;
  width: 100%;
}
.section1-tablet-main i {
  font-size: 20px;
  margin-left: 23px;
}

/* section 2 */
.section2 {
  overflow: scroll;
  height: 20vh;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.section2-input1 {
  font-size: 50px;
}


/* SECTION 4 */
.section4-main {
  height: 5vh;
}
.section4-main select {
  border: 0;
 
}

/* section 5 */
.section5-main {
  display: none;
}
.section5-main2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  width: 90%;
  margin: auto;
}

.section5-main {
  display: none;
}

.section5-main3 {
  display: none;
}



/* section 6 */

/* footer */

.footer-con-1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
  
}



/* foooter for small screens */

.footer-small {
  height: fit-content;
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
 }

.foot-small-sec1 {
  width: 90%;
  margin: auto;
}
.footersmall-icone {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}
.ff {
  margin-bottom: 20%;
  margin-top: 10%;
}
.footer-log-img {
  width: 95%;
  margin-bottom: 20px;
}
.footer-select-small {
  width: 150px;
  padding: 20px;
  border: 3px solid white;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 80%;
  background-color: transparent;
}

.foot-a-small  {
  color: white;
  text-decoration: none;
  font-size: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
.copylogo {
  margin-left: 270px;
  margin-top: -10px;
}

.section-8b {
  display: none;
}
