* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-2-container {
  display: none;
}
.section1-container {
  display: none;
}
.container {
  width: 100%;
}
.section1-tablet-main {
  display: flex;
  align-items: center;
  gap: 70%;
}
.section1-tablet-main i {
  font-size: 35px;
  margin-left: 10px;
}

.container {
  width: 100%;
}
.section1-tablet-main {
  margin-top: 10px;
  height: 10vh;
}
/* section 2 */
.section-2 {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  color: white;
}

.section-2-text {
  width: 90%;
  height: 80%;
}

.section-2-text h2 {
  font-size: 80px;
}
.section-2-h3 {
  margin-top: 40px;
}

.section-2-text h3 {
  font-size: 30px;
}

.section-2-img {
  width: 50%;
  height: 80%;
  transform: rotate(10deg);
}

.one-img {
  margin-top: 20%;
  margin-left: 40%;
}

.two-img {
  margin-bofooter-copyright-iconeom: 50%;
  margin-left: 10%;
  margin-top: -20%;
  height: 80%;
}

.section-2-img3 {
  margin-top: -10%;
  position: absolute;
  transform: rotate(10deg);
  z-index: 1;
  bofooter-copyright-iconeom: -500px;

  margin-left: 60%;
  width: 30%;
}

/* section 3 starts here */
.section-3 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #e4e5de;
}

.section-3-head {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bofooter-copyright-iconeom: 3px solid black;
}
.section-3-content {
  width: 100%;

  margin-right: 3rem;
  padding-right: 10%;
  border-bofooter-copyright-iconeom: 2px solid black;
}
.move {
  border-right: none;
}

/* for the content with the image */
.section-3-content h2 {
  font-size: 30px;
}
.section-3-head h2 {
  font-size: 40px;
}

.section-3-content h3 {
  font-size: 20px;
}

/* section 4 */
.section-4 {
  height: 20vh;
}
.section-4 h2 {
  font-size: 40px;
}
/* section 5 */
.arrow-round {
  left: -59px;
}

/* section 6 */
.section6-tablet {
  background-color: yellow;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.section6-tablet-input1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.section6-tablet-input2 img {
  width: 100%;
}
.section-6-img {
  margin-top: 90%;
  width: 100%;
}
.section-6-arrow h2 {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: white;
  border: 2px solid black;
  margin-top: 5px;
}
.section-6-arrow h3 {
  height: 400px;
  width: 5px;
  margin-left: 2rem;
  background-color: black;
}
.section-6-arrow i {
  margin-top: -30px;
  margin-left: 1rem;
  font-size: 40px;
}
.section6-tablet-input1 bufooter-copyright-iconeon {
  padding: 20px;
  border: 2px solid black;
  font-size: 20px;
  margin-top: 20px;
}
.section6-tablet-input1 h2,
h3 {
  font-size: 30px;
}
.section6-tablet-input1 {
  text-align: center;
}
.tab {
  display: none;
}
.section6-desktop {
  display: none;
}
.sec-5-desktop {
  display: none;
}
/* section 7 */
.section-7 {
  display: none;
}
.section-7-b h2 {
  font-size: 2em;
}
.section-7-b {
  width: 90%;
  margin: auto;
}
.section-7-b h3,
p {
  font-size: 2em;
}
.section-7-tablet {
  background-color: yellow;
  display: flex;
  padding-top: 10px;
}
.section-7-tablet-arrow {
  padding-left: 1em;
}
.section-7-tablet-arrow h2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  border: 2px solid black;
}
.section-7-tablet-arrow h3 {
  width: 5px;
  height: 300px;
  background-color: black;
  margin-left: 14px;
}
.section-7-tablet-arrow i {
  font-size: 40px;
  margin-top: -20px;
  margin-right: -15px;
}
.section8 {
  display: none;
}
.sec-12-img {
  height: 50%;
}
/* section 12 */
.section-12 {
  display: grid;
  height: fit-content;
}
.sec-12-img {
  width: 99%;
}
/* section 14 */
.section-6 {
  width: 100%;
  height: 50vh;
}
.transition-img4 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -100px;
}

.section6-btn1 {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  padding: 20px;
  margin-left: 17rem;
  margin-bofooter-copyright-iconeom: 20px;
}
.transition-img3 {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  display: none;
}
.transition-img2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
}

.transition-img1 {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
}

.section6-con h2 {
  font-size: 25px;
  padding: 10px;
  width: 90%;
  margin: auto;
}
.section6-con p {
  font-size: 10px;
  padding: 10px;
  width: 90%;
  margin: auto;
}
.section6-con-img-body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
  margin-top: 30px;
  width: 100%;
}
.section6-btn2 {
  width: 300px;
  background-color: yellow;
  padding: 10px 0;
  color: #000000;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 20px;
}
.section6-con {
  width: 100%;
}
/* section 14 */
.section-14 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.section-12-img {
  grid-row-start: 1;
  grid-row-end: 2;
}
.section-12-img img {
  height: 40em;
  width: 98%;
  margin-left: 10px;
}
.section-14-A {
  grid-row-start: 2;
  grid-row-end: 3;
}
.section-12-input2 h2 {
  font-size: 20px;
  margin-top: -30%;
}

/* footer */
.footer-con-1 {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  padding-top: 40px;
  ff-icon: 40px;
}
.footer-con-1 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.footer-con-1 h2 {
  color: white;
  font-size: 30px;
}
.section8-container {
  background-color: black;
}

/* foooter for small screens */

.footer-small {
  height: 50vh;
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.foot-small-sec1 {
  width: 90%;
  margin: auto;
}
.footersmall-icone {
  color: white;
  font-size: 60px;
  margin-bofooter-copyright-iconeom: 40px;
  text-align: center;
  padding-top: 20px;
}
.footer-select-small {
  width: 100%;
  padding: 20px;
  border: 5px solid white;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: transparent;
}

.foot-a-small a {
  color: white;
  text-decoration: none;
  padding: 40px;
  font-size: 30px;
}
.copylogo {
  margin-left: 270px;
  margin-top: 20px;
}
.ff {
  margin-bofooter-copyright-iconeom: 30px;
}
.section-8b {
  display: none;
}
